
<%= render "form", frotum: @frotum %>



<div class="botao_exibir_registro">
  <%= link_to "Exibir Registro", @frotum %>
  </div>
  <div class="botao_voltar">
  <%= link_to "Voltar Pagina Inicial", frota_path %>
</div>

